<div class="top">
    <div class="top__main">
      <h1 class="we">We</h1>
      <div class="carmella">
        {% assign we_are_mam = shop.metafields.airf.we_are_mam %}
        {% if we_are_mam and we_are_mam != '&nbsp' %}
            <img src="{{ we_are_mam }}" />
        {% endif %}
        <p class="caption bottom">Carmella Sternberg</p>
      </div>
      <h1 class="are">are</h1>
      <div class="annabel">
        <p class="caption top">Annabel James</p>
        {% assign we_are_m2 = shop.metafields.airf.we_are_m2 %}
        {% if we_are_m2 and we_are_m2 != '&nbsp' %}
            <img src="{{ we_are_m2 }}" />
        {% endif %}
      </div>
      <h1 class="mamma">Mamma</h1>
    </div>
    <a href="/pages/about#find-out-more"><button class="m-button" >Find out more about Mamma</button></a>
</div>
