<div class="top">
    <div class="top__main">
      <h1 class="we">We</h1>
      <div class="carmella">
        <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
        <p class="caption bottom">Carmella Sternberg</p>
      </div>
      <h1 class="are">are</h1>
      <div class="annabel">
        <p class="caption top">Annabel James</p>
        <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/annabel-james.png?v=1600011449">

      </div>
      <h1 class="mamma">Mamma</h1>
    </div>
    <button href="#find-out-more">Find out more about Mamma</button>
</div>
