<div class="about-page practitioner-page">
    <div class="top">
      <h1><span>Become a</span><br>Practitioner</h1>
      <div class="video-wrapper page-width">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/inpok4MKVLM?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="intro">
        <div class="intro-wrapper">
          <h2><span>Are you passionate about what you do? Are you eager to reach more people? Are you looking to be supported to support others?</span></h2>
          <h2>Join our Mamma Community & elevate, inspire and motivate yourself and others to take the next step forward.</h2>
        </div>
    </div>


    <div class="what-others-say orange-bg">
        <h1>What others say</h1>
        <div class="quotes flex page-width">
          <div class="quote cr-border">
            <h2>Mamma Bali is a wonderfully curated booking platform for holistic practitioners and all of the people I have booked have been amazing. Everything is done with the most amount of love and support. I couldn’t recommend using this wonderful site highly enough!</h2>
          </div>
          <div class="quote cr-border">
            <h2>Mamma Bali is a wonderfully curated booking platform for holistic practitioners and all of the people I have booked have been amazing. Everything is done with the most amount of love and support. I couldn’t recommend using this wonderful site highly enough!</h2>
          </div>
        </div>
    </div>


    <div class="intro page-width">
      <div class="pract-needed">
        <h1>Practitioners needed</h1>
        <h1><span>We are recruiting<span></h1>
      </div>
      <h2 class="big-para">Join our family of wellness practitioners worldwide. Be part of a community that helps you thrive and supports you in your work.</h2>
      <p class="orange-text">Join our team of wellness experts today</p>
    </div>


    <div class="flex job-openings">
      <div class="header-left">
        <div class="header-inner">
          <div class="left">
              <p class="be">Be</p>
              <p class="here">Part</p>
              <p class="now">Now</p>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="header-inner">
          <div class="header-inner-content">
            <h1>Feel as held & supported as our clients</h1>
            <ul>
              <li>
                <h3>Stand Out</h3>
                <p>It’s all about the company you keep.</p>
              </li>
              <li>
                <h3>Connect</h3>
                <p>Network and grow.</p>
              </li>
              <li>
                <h3>Breathe</h3>
                <p>Do what you love.</p>
              </li>
            </ul>
            <div class="bottom">
              <div class="buttons">
                <button type="link" name="brochure-pack">Brochure Pack</button>
                <button type="link" name="apply">Apply</button>
                <button type="link" name="speak-to-us">Speak to us</button>
              </div>
              <p class="send-cv">Need to know more, <span>read our FAQ</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="intro white-bg">
        <h2>Mamma is here to support you with a system that elevates your marketing, admin and so much more.</h2>
        <h2>A community of practitioners & wellbeing enthusiasts, where we create oppurtunities, collaborations and exposure to new clients & corporates.</h2>
    </div>
