<div class="m-page-header flex practitioner">
    <div class="header-left">
      <div class="header-inner"></div>
      {% assign page_image = page.metafields.airf.page_image %}
      {% if page_image and page_image != '&nbsp' %}
          <img src="{{ page_image }}" />
      {% endif %}
    </div>
    <div class="header-right">
      <div class="header-inner">
        <div class="header-inner-content">
          <div class="practitioner-pager-header">
            <h1>{{page.title}}</h1>
          </div>
          <div class="m-practioner-info">
            {{page.content}}
          </div>
        </div>
      </div>
    </div>
</div>
