<div class="about-page">
    <div class="top">
        <h1>We</h1>
        <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
        <h1>are</h1>
        <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
        <h1>Mamma</h1>
        <button>Find out more about Mamma</button>
    </div>

    <div>
        <h2>
            We are here to support you in your journey to becoming the best version of yourself, by providing carefully
            selected alternative therapists, events, retreats & resources.</h2>
        <p>We’re with you.
            <a href="/contact">Speak to us</a> for tailored wellness</p>
        <button>Book a Practice</button>
        <button>Find a Practitioner</button>
    </div>

    <div>
        <div>
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
            <h3>Firstname Surname</h3>
            <p>Founder Director</p>
        </div>
        <div>
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
            <h3>Firstname Surname</h3>
            <p>Founder Director</p>
        </div>
        <div>
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
            <h3>Firstname Surname</h3>
            <p>Founder Director</p>
        </div>
        <div>
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
            <h3>Firstname Surname</h3>
            <p>Founder Director</p>
        </div>
        <div>
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
            <h3>Firstname Surname</h3>
            <p>Founder Director</p>
        </div>
        <div>
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
            <h3>Firstname Surname</h3>
            <p>Founder Director</p>
        </div>
    </div>

    <div>
        <div class="left">
            <p>Be</p>
            <p>Here</p>
            <p>Now</p>
        </div>
        <div class="right">
            <h3>We are currently looking for</h3>
            <p>Join our family of wellness worldwide practitioners. Be part of a community that helps you thrive and
                supports you in your work.</p>
            <p>Send us your cv/application! mamma@wellbeing.com</p>
        </div>
    </div>

    <div>
        <img src="" alt="">
        <div>
            <p><span>Bali was founded by Carmella Sternberg and Annabel James in 2018.</span>
                After creating an award winning events company, working 7 day weeks, Carmella upped and left for Asia in
                search of peace and healing. In Thailand she met Annabel who had left her job as a traditional therapist
                to find a more holistic path after a family tragedy gave her a new perspective. Four months later they
                found themselves transformed by the wealth of experiences and wisdom from their meanderings through
                Thailand, The Philippines, India and most significantly Bali. Carmella and Annabel resolved to make it
                their life’s work to help people find the healing therapies that they found to be so beneficial on their
                journey toward health and happiness.
            </p>
        </div>
    </div>

    <div>
        <h1>What others say</h1>
        <div class="quote">I absolutely loved my session with a Mamma theta healer. I felt both incredibly safe &
            exhilarated at the same time! Learning and pulling apart old patterns and habits that do not serve me
            anymore.
        </div>
        <div class="quote">The most beautiful heart opening cacao ceremony, followed by an incredible sound healing, we
            all had a magical journey as the notes of each instrument weaved around us. The whole experience was quite
            literally out of this world.</div>
    </div>
</div>