<!-- Start split screen -->
<div class="m-page-header flex">
  <div class="header-left">
    <div class="header-inner">
      <h1>Explore <span class="underline">Mamma</span></h1>
    </div>
    {% assign page_image = page.metafields.airf.page_image %}
    {% if page_image and page_image != '&nbsp' %}
        <img src="{{ page_image }}" />
    {% endif %}
  </div>
  <div class="header-right">
    <div class="header-inner">
      <div class="header-inner-content">
        <h1>What are you looking for?</h1>
        <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
          <label>Search here</label>
          <div class="search-form__input-wrapper">
            <input
              type="text"
              name="q"
              placeholder="Wellness, Yoga, Mindfullness, Breathwork"
              role="combobox"
              aria-autocomplete="list"
              aria-owns="predictive-search-results"
              aria-expanded="false"
              aria-label="{{ 'general.search.placeholder' | t }}"
              aria-haspopup="listbox"
              class="search-form__input search-bar__input"
              data-predictive-search-drawer-input
            />
            <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
            <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
          </div>
          <label>Mamma Offerings</label>
          <select>
            <option value="option 1">1-1 session</option>
            <option value="option 2">Classes</option>
            <option value="option 3">Events</option>
            <option value="option 4">Courses</option>
            <option value="option 4">Retreats</option>
          </select>
          <label>How you would like your wellness?</label>
          <select>
            <option value="option 1">Online practice</option>
            <option value="option 2">Home visit</option>
          </select>
          <label>How are you felling?</label>
          <select>
            <option value="option 1">Mind</option>
            <option value="option 2">Body</option>
            <option value="option 3">Spirit</option>
            <option value="option 4">Motivational</option>
            <option value="option 4">All</option>
          </select>
          <button type="submit"
          data-search-form-submit>Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
