<div class="m-page-header flex">
  <div class="header-left">
    <div class="header-inner">
      <h1>Explore <span class="underline">Mamma</span></h1>
    </div>
    {% assign page_image = page.metafields.airf.page_image %}
    {% if page_image and page_image != '&nbsp' %}
        <img src="{{ page_image }}" />
    {% endif %}
  </div>
  <div class="header-right">
    <div class="header-inner">
      <div class="header-inner-content">
        <h1>What are you looking for?</h1>
        <form>
          <label>Search here</label>
          <input></input>
          <button>Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
