<div class="m-page-header flex practitioner practice-sticky">
    <div class="header-left">
      <div class="header-inner"></div>
      {% assign page_image = page.metafields.airf.page_image %}
      {% if page_image and page_image != '&nbsp' %}
          <img src="{{ page_image }}" />
      {% endif %}
    </div>
    <div class="header-right">
      <div class="header-inner">
        <div class="header-inner-content">
          <div class="practitioner-pager-header">
            <h1>{{page.title}}</h1>
          </div>
          <div class="m-practioner-info">
            {{page.content}}
          </div>
        </div>
      </div>
    </div>
</div>
<div class="about-page">
  <div class="practitioner-page">
    <div class="what-others-say cream-bg">
        <div class="page-width">
          <h1>What others say</h1>
          <div class="quotes flex">
            <div class="quote cr-border">
              <h2>Mamma Bali is a wonderfully curated booking platform for holistic practitioners and all of the people I have booked have been amazing. Everything is done with the most amount of love and support. I couldn’t recommend using this wonderful site highly enough!</h2>
            </div>
            <div class="quote cr-border">
              <h2>Mamma Bali is a wonderfully curated booking platform for holistic practitioners and all of the people I have booked have been amazing. Everything is done with the most amount of love and support. I couldn’t recommend using this wonderful site highly enough!</h2>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="m-practioner-list">
  <div class="page-width">
    <div class="m-practice-list-header less-padding">
      <h1><span class="underline blue">Our <span class="typeOut handwritten" data-content="{{page.title}}"></span> People</span></h1>
    </div>
    <!-- this section uses vue js using ${} to reference the data -->
    <div id="app" class="m-people-placeholder">
      <ul class="m-people-group">
          <li class="m-person" v-for="practioner in practioners">
            <div class="m-person__description">
              <h1>${practioner.full_name}</h1>
              <h2 class="handwritten">${practioner.practice}</h2>
              <p>${practioner.short_bio}</p>
            </div>
            <a v-bind:href="'/collections/' + practioner.slug">
              <div class="m-people-details">
                <span class="m-people-name">${practioner.full_name}</span>
                <span class="m-people-practice">${practioner.practice}</span>
              </div>
              <img v-bind:src="practioner.profile_picture">
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
