<div class="about-page">
    <div class="top">

    </div>

    <div class="intro">
        <h2><span>Are you passionate about what you do? Are you eager to reach more people? Are you looking to be supported to support others?</span></h2>
        <h2>Join our Mamma Community & elevate, inspire and motivate yourself and others to take the next step forward.</h2>
    </div>


    <div class="what-others-say">
        <h1>What others say</h1>
        <div class="quotes flex">
          <div class="quote">
            <h2>Mamma Bali is a wonderfully curated booking platform for holistic practitioners and all of the people I have booked have been amazing. Everything is done with the most amount of love and support. I couldn’t recommend using this wonderful site highly enough!</h2>
          </div>
          <div class="quote">
            <h2>Mamma Bali is a wonderfully curated booking platform for holistic practitioners and all of the people I have booked have been amazing. Everything is done with the most amount of love and support. I couldn’t recommend using this wonderful site highly enough!</h2>
          </div>
        </div>
    </div>


    <div class="intro">
        <h2>Mamma is here to support you with a system that elevates your marketing, admin and so much more.</h2>
        <h2>A community of practitioners & wellbeing enthusiasts, where we create oppurtunities, collaborations and exposure to new clients & corporates.</h2>
    </div>


    <div class="flex job-openings">
      <div class="header-left">
        <div class="header-inner">
          <div class="left">
              <p class="be">Be</p>
              <p class="here">Part</p>
              <p class="now">Now</p>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="header-inner">
          <div class="header-inner-content">
            <h1>We are currently looking for</h1>
            <p class="join-para">Join our family of wellness worldwide practitioners. Be part of a community that helps you thrive and
                supports you in your work.</p>
            <p class="send-cv">Send us your cv/application! mamma@wellbeing.com</p>
          </div>
        </div>
      </div>
    </div>


    <div class="intro">
        <h2>Mamma is here to support you with a system that elevates your marketing, admin and so much more.</h2>
        <h2>A community of practitioners & wellbeing enthusiasts, where we create oppurtunities, collaborations and exposure to new clients & corporates.</h2>
    </div>
