<div class="m-page-header flex practitioner">
    <div class="header-left">
      <div class="header-inner"></div>
      {% assign page_image = page.metafields.airf.page_image %}
      {% if page_image and page_image != '&nbsp' %}
          <img src="{{ page_image }}" />
      {% endif %}
    </div>
    <div class="header-right">
      <div class="header-inner">
        <div class="header-inner-content">
          <div class="practitioner-pager-header">
            <h1>{{page.title}}</h1>
          </div>
          <div class="m-practioner-info">
            {{page.content}}
          </div>
        </div>
      </div>
    </div>
</div>
<div class="practitioner-page">
  <div class="what-others-say orange-bg">
      <h1>What others say</h1>
      <div class="quotes flex page-width">
        <div class="quote cr-border">
          <h2>Mamma Bali is a wonderfully curated booking platform for holistic practitioners and all of the people I have booked have been amazing. Everything is done with the most amount of love and support. I couldn’t recommend using this wonderful site highly enough!</h2>
        </div>
        <div class="quote cr-border">
          <h2>Mamma Bali is a wonderfully curated booking platform for holistic practitioners and all of the people I have booked have been amazing. Everything is done with the most amount of love and support. I couldn’t recommend using this wonderful site highly enough!</h2>
        </div>
      </div>
  </div>
</div>
