<div class="about-page">
    <div class="top">
        <div class="top__main">
          <h1 class="we">We</h1>
          <div class="carmella">
            <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/carmella-sternberg-edited-7.png?v=1600000902">
            <p class="caption bottom">Carmella Sternberg</p>
          </div>
          <h1 class="are">are</h1>
          <div class="annabel">
            <p class="caption top">Annabel James</p>
            <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/annabel-james.png?v=1600011449">

          </div>
          <h1 class="mamma">Mamma</h1>
        </div>
        <button>Find out more about Mamma</button>
    </div>

    <div class="intro white-bg">
        <div class="page-width">
          <h2>
              We are here to support you in your journey to becoming the best version of yourself, by providing carefully
              selected alternative therapists, events, retreats & resources.</h2>
          <p>We’re with you.
              <a href="/pages/contact">Speak to us</a> for tailored wellness</p>
          <div class="buttons">
            <button href="/pages/discover">Book a Practice</button>
            <button href="/pages/discover">Find a Practitioner</button>
          </div>
        </div>
    </div>

    <div class="our-team-wrapper">
      <div class="our-team">
        <h2>Our lovely,
          <span>team</span>
        </h2>
      </div>
      <div class="team-wrapper page-width">

        <div class="team-item">
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/Carmella.jpg?v=1600597338">
            <h2>Carmella Sternberg</h2>
            <p>Founder Director</p>
        </div>
        <div class="team-item">
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/Annabel.jpg?v=1600597338">
            <h2>Annabel James</h2>
            <p>Co-Founder / Director</p>
        </div>
        <div class="team-item">
            <img
                src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/Jessica.jpg?v=1600597338">
            <h2>Jessica Girvan</h2>
            <p>Process & Workflow manager</p>
        </div>
        <div class="team-item">
          <div class="blank"></div>
          <h2>Hudas Duwas</h2>
          <p>Operations & Content Manager</p>
        </div>
        <div class="team-item">
            <div class="blank"></div>
        </div>
        <div class="team-item">
          <div class="blank"></div>
          <h2>Join our team</h2>
          <p>Find Open Positions</p>
        </div>
      </div>
    </div>

    <div class="flex job-openings">
      <div class="header-left">
        <div class="header-inner">
          <div class="left">
              <p class="be">Be</p>
              <p class="here">Here</p>
              <p class="now">Now</p>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="header-inner">
          <div class="header-inner-content">
            <h1>We are currently looking for</h1>
            <p class="join-para">Join our family of wellness worldwide practitioners. Be part of a community that helps you thrive and
                supports you in your work.</p>
            <p class="send-cv">Send us your cv/application! mamma@wellbeing.com</p>
          </div>
        </div>
      </div>
    </div>



    <div class="flex about-mamma">
      <div class="header-left image">
      </div>
      <div class="header-right">
        <h2>Our Story</h2>
        <div class="header-inner">
          <div class="header-inner-content">
            <p><span>Bali was founded by Carmella Sternberg and Annabel James in 2018.</span></p>
            <p>
                After creating an award winning events company, working 7 day weeks, Carmella upped and left for Asia in
                search of peace and healing. In Thailand she met Annabel who had left her job as a traditional therapist
                to find a more holistic path after a family tragedy gave her a new perspective. Four months later they
                found themsel
                ves transformed by the wealth of experiences and wisdom from their meanderings through
                Thailand, The Philippines, India and most significantly Bali. Carmella and Annabel resolved to make it
                their life’s work to help people find the healing therapies that they found to be so beneficial on their
                journey toward health and happiness.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="what-others-say page-width">
        <h1>What others say</h1>
        <div class="quotes flex">
          <div class="quote">
            <h2>I absolutely loved my session with a Mamma theta healer. I felt both incredibly safe &
                exhilarated at the same time! Learning and pulling apart old patterns and habits that do not serve me
                anymore.</h2>
          </div>
          <div class="quote">
            <h2>The most beautiful heart opening cacao ceremony, followed by an incredible sound healing, we
                all had a magical journey as the notes of each instrument weaved around us. The whole experience was quite
                literally out of this world.</h2>
          </div>
        </div>
    </div>
</div>
